<form>
	<info-tooltip>tooltip</info-tooltip>

	<!-- <text-input
		requiredx
		id="some-id"
		class="classy"
		name="text-input"
		placeholder="placeholder"
	>label</text-input> -->


	<p>dropdown value: {{ dropdownValue }}</p>

	<ul>
		<li>[</li>
		<li
			for-each="option"
			in="dropdownOptions"
		>{{option}}</li>
		<li>]</li>
	</ul>

	<pre>options: {{ dropdownOptions | json }}</pre>

	<!-- <dropdown-input
		[options]="dropdownOptions"
		@select="dropdownValue = $event"
	>pick-a-thing</dropdown-input> -->




	<!-- <number-input></number-input> -->

	<!-- <date-input></date-input> -->
	<!-- <time-input></time-input> -->

	<!-- <radio-group name="radio"> -->
		<!-- <radio-button value="1">one</radio-button> -->
		<!-- <radio-button value="2">two</radio-button> -->
	<!-- </radio-group> -->

	<!-- <checkbox-button name="check-1">option 1</checkbox-button> -->
	<!-- <checkbox-button name="check-2">option 2</checkbox-button> -->


	<!-- <dropdown-input name="dropdown"> -->
		<!-- < -->
		<!-- <dropdown-option value> -->
	<!-- </dropdown-input> -->


	<submit-button></submit-button>
	<button type="submit">Submit</button>
</form>
